{% extends "app/base_site.html" %}

{% block title %} 运营看板 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}



{% block content %}
{% load rest_framework %}
  <div class="right_col" role="main">

      <div class="row tile_count">

      {% for Ops in opsCal %}

    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> {{Ops.itemname}} </span>
        <div class="count">  {% widthratio Ops.itemvalue2 1000 1 %}k  </div>
        <span class="count_bottom"><i class="green"> {% widthratio Ops.itemvalue2 1000 1 %} k </i>  {{Ops.desc}} </span>
      </div>
      {% endfor %}

    </div>

    <!-- /top tiles --><!--趋势图div-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
              <h3> JIRA 问题趋势 <!--<small>{% if todo.description is not None %}{{todo.description}}{% endif %} Description</small>--></h3>
            </div>
            <div class="col-md-6">

              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                 <span>December 30, 2017 - January 28, 2018</span> <b class="caret"></b>
              </div>

            </div>
              <!--<button id="fullscreen" class="btn btn-primary" >fullscreen</button>-->
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>

          <!--<div class="col-md-3 col-sm-3 col-xs-12 bg-white">-->
            <!--<div class="x_title">-->
              <!--<h2>问题分类概况 <small> <a href="jira_type.html"> 详情</a>   </small></h2>-->
              <!--<div class="clearfix"></div>-->
            <!--</div>-->

            <!--<div class="col-md-12 col-sm-12 col-xs-6">-->
              <!--{% for JiraSPT in JiraSPT %}-->
              <!--<div id = 'tagline'>-->
                <!--<p>{{JiraSPT.itemname}}</p>-->
                <!--<div class="widget_summary">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="{{JiraSPT.itemvalue1}}"></div>-->

                    <!--</div>-->
                   <!--<div class="w_right w_20">-->
                <!--<span>{{JiraSPT.itemvalue1}}个</span>-->
                   <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--{% endfor %}-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-2 col-sm-2 col-xs-12 bg-white">-->
            <!--<div class="x_title">-->
              <!--<h2>问题分类概况 <small> <a href="jira_type.html"> 详情</a>   </small></h2>-->
              <!--<div class="clearfix"></div>-->
            <!--</div>-->

            <!--<div class="col-md-12 col-sm-12 col-xs-6">-->
              <!--<div id = 'tagline' >-->
                <!--<div class="x_content2">-->
              <!--<div id="graph_donut" style="width:100%; height:200px;"></div>-->
              <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br/>
       <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> 系统问题分析 <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>

            </div>
            <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:37%;">
                  <p>Top 5</p>
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <p class="">系统</p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class="">    总数    </p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    {% for jiraSys in Pr_sys %}
                    <tr>
                      <td >
                        <!--blue，green，purple，aero，red-->
                        <p><i class="fa fa-square green"></i>{{jiraSys.itemname}} </p>
                      </td>
                      <td>{{ jiraSys.itemvalue1|floatformat }}</td>
                    </tr>
                    {% endfor %}


                  </table>
                </td>
              </tr>
            </table>
          </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> 运维/二线支持服务时效提升 <small> （SLA) </small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="mybarChart" ></canvas>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> 系统可用率 <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="lineChart"></canvas>
            </div>
          </div>
        </div>
    </div>

    <br />



    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> 优化需求趋势 <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="chart_plot_req" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> 版本发布次数趋势图 <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="chart_plot_publish" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>
          </div>
        </div>
      </div>

  <br/>

    <!--<div class="row" >-->

                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                  <!--<div class="dashboard_graph">-->

			<!--<div id="chart_plot_real" class="demo-placeholder"></div>-->
                  <!--<p> 刷新频率: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> 毫秒</p>-->
                  <!--</div>-->
                 <!--</div>-->
		<!--</div>-->

    <!--<br />-->

    <!--<div class="row">-->

     <!--环节分析   -->
   <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="x_panel fixed_height_320">-->
          <!--<div class="x_title">-->
            <!--<h2> 环节分析 <small> 专题优化 </small></h2>-->
            <!--<ul class="nav navbar-right panel_toolbox">-->
              <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
              <!--</li>-->
              <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                  <!--<li><a href="#">Settings 1</a>-->
                  <!--</li>-->
                  <!--<li><a href="#">Settings 2</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="x_content">-->
            <!--<div class="dashboard-widget-content">-->
              <!--<ul class="quick-list">-->
                <!--&lt;!&ndash;<li><i class="fa fa-line-chart"></i><a href="#"> 出单时效 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><i class="fa fa-thumbs-up"></i><a href="#"> 缴费时效 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><i class="fa fa-calendar-o"></i><a href="#"> 理赔查勘派单 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><i class="fa fa-cog"></i><a href="#"> 赔付时效 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><i class="fa fa-area-chart"></i><a href="#"> 基础信息维护时效 </a></li>&ndash;&gt;-->

                <!--<li><i class="fa fa-line-chart"></i><a href="project_detail.html"> 出单时效 </a></li>-->
                <!--<li><i class="fa fa-line-chart"></i><a href="project_detail.html"> 缴费时效 </a></li>-->
                <!--<li><i class="fa fa-calendar-o"></i><a href="project_detail.html"> 理赔查勘派单 </a></li>-->
                <!--<li><i class="fa fa-calendar-o"></i><a href="project_detail.html"> 赔付时效 </a></li>-->
                <!--<li><i class="fa fa-calendar-o"></i><a href="project_detail.html" > 基础信息维护时效 </a></li>-->
              <!--</ul>-->

              <!--<div class="sidebar-widget">-->
                <!--<h4>本周效率</h4>-->
                <!--<canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>-->
                <!--<div class="goal-wrapper">-->
                  <!--<span id="gauge-text" class="gauge-value gauge-chart pull-left">0</span>-->
                  <!--<span class="gauge-value pull-left">%</span>-->
                  <!--<span id="goal-text" class="goal-value pull-right">100%</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-8 col-sm-8 col-xs-12">-->

        <!--<div class="row">-->

          <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="x_panel">-->
              <!--<div class="x_title">-->
                <!--<h2> jira 地区分布 <small>分省</small></h2>-->
                <!--<ul class="nav navbar-right panel_toolbox">-->
                  <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                  <!--</li>-->
                  <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                      <!--<li><a href="#">Settings 1</a>-->
                      <!--</li>-->
                      <!--<li><a href="#">Settings 2</a>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->

                <!--<div class="x_content">-->
                <!--<div class="dashboard-widget-content">-->
                  <!--&lt;!&ndash;<div class="col-md-4 hidden-small">&ndash;&gt;-->
                   <!--<div class="col-md-4 ">-->

                    <!--<h2 class="line_30"> Top 7 </h2>-->

                    <!--<table class="countries_list">-->
                      <!--<tbody>-->
                      <!--{% for areaCal in AreaCal %}-->
                        <!--<tr>-->
                          <!--<td>{{areaCal.itemname}}</td>-->
                          <!--<td class="fs15 fw700 text-right">{{areaCal.itemvalue1|floatformat }} RMB</td>-->
                        <!--</tr>-->
                      <!--{% endfor %}-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                  <!--<div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->

    <!--</div>-->








    </div>
  </div>
      </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <!--<script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>-->
  <!--<script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->
  <!--<script src="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-cn-mill.js"></script>-->
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

<!-- JQVMap cn补充-->
	<script type="text/javascript" src="/static/vendors/jqvmap/dist/jquery-mousewheel.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-2.0.3.css">
	<script type="text/javascript" src="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-2.0.3.min.js"></script>
	<script type="text/javascript" src="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-cn-mill.js"></script>

  <!--morris-->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>

{% endblock javascripts %}