{% extends "app/base_site.html" %}

{% block title %} 运营看板 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}



{% block content %}
{% load rest_framework %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <!--<div class="container">-->
        <!--<br>-->
        <!--<h1>Demo #1</h1>-->
        <!--<br>-->
        <!--<button id="button_json" class="btn btn-primary">Fetch HttpResponse from user_login/all.json</button>-->
        <!--<button id="button_html" class="btn btn-primary" style="margin-left: 20px;">Fetch HttpResponse from user_login/all.html</button>-->
        <!--<br>-->
        <!--<br>-->
        <!--<div>-->
            <!--<p id="p1" class="border" style="padding: 10px;">Plaecholder for Ajax content</p>-->
        <!--</div>-->
        <!--<br>-->
        <!--<h1>Demo #2</h1>-->
        <!--<br>-->
        <!--<form action="/" method="POST">-->
        <!--{% csrf_token %}-->
            <!--<label >First Name starts with:</label>-->
            <!--<input type="text" id="ajax_starts_with" name="starts_with">-->
        <!--</form>-->
        <!--<br>-->
        <!--<div id="placeholder_2" style="margin-top: 50px; border: 1px solid silver; padding: 10px;">Placeholder 3</div>-->
        <!--<br>-->
        <!--<h1>Demo #3</h1>-->
        <!--<br>-->
        <!--<form action="/" method="POST" class="ajax_form" id="create_user_ajax_form">-->
        <!--{% csrf_token %}-->
            <!--First Name: <input type="text" name="first_name">-->
            <!--Last Name: <input type="text" name="last_name">-->
            <!--Email: <input type="text" name="email_address">-->
            <!--Age: <input type="text" name="age">-->
            <!--<input type="submit" value="Submit">-->
        <!--</form>-->
        <!--<br>-->
        <!--<div id="placeholder_3" style="margin-top: 50px; border: 1px solid silver; padding: 10px;">Placeholder 3</div>-->
    <!--</div>-->

    <!-- /top tiles -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
              <h3>近一周jira趋势 <!--<small>{% if todo.description is not None %}{{todo.description}}{% endif %} Description</small>--></h3>
            </div>
            <div class="col-md-6">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                 <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                <!--<form  method="POST" action="/">-->
        <!--{% csrf_token %}-->
        <!--{{ period.as_P }}-->
        <!--<input type="submit" class="btn btn-primary">-->
    <!--</form>-->

    <!--{{ period.media }}-->

    <!--{% if period %}-->
        <!--<div class="alert alert-success">-->
        <!--Congratulations!! Here is selected period: {{ period }}-->
        <!--</div>-->

    <!--{% endif %}-->
                <!--{% if period is not None %}-->
                <!--<span>{{period.date_start}} - {{period.date_end}} </span> <b class="caret"></b>-->
                <!--{% endif %}-->
              </div>
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
              <h2>标签统计</h2>
              <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-6">
              {% for JiraTag in opsJira %}
              <div>
                <p>{{JiraTag.typename}}</p>
                <div class="widget_summary">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{JiraTag.itemvalue1}}"></div>

                  </div>
                   <div class="w_right w_20">
                <span>{{JiraTag.itemvalue1}}个</span>
              </div>
                </div>

              </div>
              {% endfor %}
            </div>
            <!--<div class="col-md-12 col-sm-12 col-xs-6">-->
              <!--<div>-->
                <!--<p>Conventional Media</p>-->
                <!--<div class="">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div>-->
                <!--<p>Bill boards</p>-->
                <!--<div class="">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>


    <br />

    <div class="row">




      <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="x_panel tile fixed_height_320 overflow_hidden">-->
          <!--<div class="x_title">-->
            <!--<h2>PR 问题分布</h2>-->
            <!--<ul class="nav navbar-right panel_toolbox">-->
              <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
              <!--</li>-->
              <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                  <!--<li><a href="#">Settings 1</a>-->
                  <!--</li>-->
                  <!--<li><a href="#">Settings 2</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="x_content">-->
            <!--<table class="" style="width:100%">-->
              <!--<tr>-->
                <!--<th style="width:37%;">-->
                  <!--<p>Top 5</p>-->
                <!--</th>-->
                <!--<th>-->
                  <!--<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">-->
                    <!--<p class="">系统</p>-->
                  <!--</div>-->
                  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">-->
                    <!--<p class="">占比</p>-->
                  <!--</div>-->
                <!--</th>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>-->
                  <!--<canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>-->
                <!--</td>-->
                <!--<td>-->
                  <!--<table class="tile_info">-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--<p><i class="fa fa-square blue"></i>IOS </p>-->
                      <!--</td>-->
                      <!--<td>{{iosper.percent}}%</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--<p><i class="fa fa-square green"></i>Android </p>-->
                      <!--</td>-->
                      <!--<td>10%</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--<p><i class="fa fa-square purple"></i>Blackberry </p>-->
                      <!--</td>-->
                      <!--<td>20%</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--<p><i class="fa fa-square aero"></i>Symbian </p>-->
                      <!--</td>-->
                      <!--<td>15%</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--<p><i class="fa fa-square red"></i>Others </p>-->
                      <!--</td>-->
                      <!--<td>30%</td>-->
                    <!--</tr>-->
                  <!--</table>-->
                <!--</td>-->
              <!--</tr>-->
            <!--</table>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>PR 问题分布</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:37%;">
                  <p>Top 5</p>
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <p class="">系统</p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class="">    占比    </p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    {% for OpsJira in opsJira %}
                    <tr>
                      <td>
                        <!--blue，green，purple，aero，red-->
                        <p><i class="fa fa-square {{OpsJira.itemfunc}}"></i>{{OpsJira.typename}} </p>
                      </td>
                      <td>{% widthratio OpsJira.itemvalue2 1 100 %}</td>
                    </tr>
                    {% endfor %}


                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>


    </div>

    <div class="row">





      <div class="col-md-8 col-sm-8 col-xs-12">


        <div class="row">


          <!-- Start to do list -->

          <!-- End to do list -->




          <!-- start of weather widget -->





          <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="x_panel">-->
              <!--<div class="x_title">-->
                <!--<h2>Daily active users <small>Sessions</small></h2>-->
                <!--<ul class="nav navbar-right panel_toolbox">-->
                  <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                  <!--</li>-->
                  <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                      <!--<li><a href="#">Settings 1</a>-->
                      <!--</li>-->
                      <!--<li><a href="#">Settings 2</a>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->
              <!--<div class="x_content">-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-12">-->
                    <!--<div class="temperature"><b>Monday</b>, 07:30 AM-->
                      <!--<span>F</span>-->
                      <!--<span><b>C</b></span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-4">-->
                    <!--<div class="weather-icon">-->
                      <!--<canvas height="84" width="84" id="partly-cloudy-day"></canvas>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-8">-->
                    <!--<div class="weather-text">-->
                      <!--<h2>Texas <br><i>Partly Cloudy Day</i></h2>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                  <!--<div class="weather-text pull-right">-->
                    <!--<h3 class="degrees">23</h3>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="clearfix"></div>-->

                <!--<div class="row weather-days">-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="daily-weather">-->
                      <!--<h2 class="day">Mon</h2>-->
                      <!--<h3 class="degrees">25</h3>-->
                      <!--<canvas id="clear-day" width="32" height="32"></canvas>-->
                      <!--<h5>15 <i>km/h</i></h5>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="daily-weather">-->
                      <!--<h2 class="day">Tue</h2>-->
                      <!--<h3 class="degrees">25</h3>-->
                      <!--<canvas height="32" width="32" id="rain"></canvas>-->
                      <!--<h5>12 <i>km/h</i></h5>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="daily-weather">-->
                      <!--<h2 class="day">Wed</h2>-->
                      <!--<h3 class="degrees">27</h3>-->
                      <!--<canvas height="32" width="32" id="snow"></canvas>-->
                      <!--<h5>14 <i>km/h</i></h5>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="daily-weather">-->
                      <!--<h2 class="day">Thu</h2>-->
                      <!--<h3 class="degrees">28</h3>-->
                      <!--<canvas height="32" width="32" id="sleet"></canvas>-->
                      <!--<h5>15 <i>km/h</i></h5>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="daily-weather">-->
                      <!--<h2 class="day">Fri</h2>-->
                      <!--<h3 class="degrees">28</h3>-->
                      <!--<canvas height="32" width="32" id="wind"></canvas>-->
                      <!--<h5>11 <i>km/h</i></h5>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="daily-weather">-->
                      <!--<h2 class="day">Sat</h2>-->
                      <!--<h3 class="degrees">26</h3>-->
                      <!--<canvas height="32" width="32" id="cloudy"></canvas>-->
                      <!--<h5>10 <i>km/h</i></h5>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="clearfix"></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
          <!-- end of weather widget -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <!--<script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>-->
  <!--<script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->
  <!--<script src="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-cn-mill.js"></script>-->
  <!--<script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->

<!-- JQVMap cn补充-->
  <script type="text/javascript" src="../lib/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/vendors/jqvmap/dist/jquery-mousewheel.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-2.0.3.css">
	<script type="text/javascript" src="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-2.0.3.min.js"></script>
	<script type="text/javascript" src="/static/vendors/jqvmap/dist/maps/jquery-jvectormap-cn-mill.js"></script>

 <!--<script>-->
        <!--$(document).ready(function(){-->

            <!--$('#button_json').click(function(){-->
                <!--console.log('button_json was clicked!');-->
                <!--$.ajax({-->
                    <!--url: 'http://127.0.0.1:8001/create/',-->
                    <!--success: function(opsJira){-->
                        <!--&lt;!&ndash;console.log('url: ',url),&ndash;&gt;-->
                        <!--console.log('success, function opsJira: ', opsJira)-->
                        <!--$('#p1').html(JSON.stringify(opsJira))-->
                    <!--}-->
                <!--});-->
            <!--});-->

            <!--$('#button_html').click(function(){-->
                <!--console.log('button_html was clicked!')-->
                <!--$.ajax({-->
                    <!--url: '/',-->
                    <!--success: function(serverResponse){-->
                        <!--console.log('success, function serverResponse: ', serverResponse)-->
                        <!--$('#p1').html(serverResponse)-->
                    <!--}-->
                <!--});-->
            <!--});-->

            <!--$('#ajax_starts_with').keyup(function(){-->
                <!--console.log("starts_with input value entered")-->
                <!--console.log("parent's serialize() returned: ", $(this).parent().serialize())-->
                <!--$.ajax({-->
                    <!--url: "/",-->
                    <!--method: "POST",-->
                    <!--data: $(this).parent().serialize(),-->
                    <!--success: function(serverResponse){-->
                        <!--console.log("success", serverResponse)-->
                        <!--$('#placeholder_2').html(serverResponse)-->
                    <!--}-->
                <!--})-->
            <!--})-->

            <!--$('#create_user_ajax_form').submit(function(e){-->
                <!--console.log("create_user_ajax_form was clicked!")-->
                <!--e.preventDefault()-->
                <!--$.ajax({-->
                    <!--url: "/create/",-->
                    <!--method: 'POST',-->
                    <!--data: $(this).serialize(),-->
                    <!--success: function(serverResponse){-->
                        <!--console.log("success", serverResponse)-->
                        <!--&lt;!&ndash;$('#placeholder_3').html(JSON.stringify(serverResponse))&ndash;&gt;-->
                        <!--$('#placeholder_3').html(serverResponse)-->
                    <!--}-->
                <!--})-->
            <!--})-->
        <!--})-->
      <!--</script>-->


{% endblock javascripts %}
